#b24scroller {
    border-radius: 15px;
    border: 0px solid #51524a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    border-radius: 15px;
}

.panel{
    border: 0px solid #51524a;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-body {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-image: url(http://130.185.73.54/~hostel/wp-content/uploads/2017/12/background-heritage-tranc.png);
}

.bb {
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px solid #51524a;
}

.roomnamerow {
    border-radius: 0px 0px 0px 0px !important;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 140%;
    padding: 2px 0 2px 0;
    border-bottom: 1px solid #51524a !important;
}

.dateavail {
    background-color: #ffffff;
    color: #333333;
}

.book_poweredby {
    font-size: 85%;
    padding: 10px 0;
    visibility: hidden;
}
.book_securelogo {
    padding: 10px 0 10px 0;
    visibility: hidden;
}
.daymon, .daytue, .daywed, .daythu, .dayfri, .daysat, .daysun {
    pointer-events: none !important;
}

@import url(//db.onlinewebfonts.com/c/54e5a5265e6710f2c6dedd00e5464c27?family=P22UndergroundGRW00-BookSC);
@font-face {font-family: "P22Underground";
    src: url("//db.onlinewebfonts.com/t/b7bf65fcf957388621bb534aed898428.eot");
    src: url("//db.onlinewebfonts.com/t/b7bf65fcf957388621bb534aed898428.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b7bf65fcf957388621bb534aed898428.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b7bf65fcf957388621bb534aed898428.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b7bf65fcf957388621bb534aed898428.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b7bf65fcf957388621bb534aed898428.svg#P22Underground") format("svg");
}

.b24-selector-numnight {
    width: 0px !important;
    visibility: hidden !important;
}
